.App {
  font-family: Arial, sans-serif;
  background: linear-gradient(290deg, #5affd5, #3a0be6);
  background-size:  180% 180%;
  animation: gradient-animation 12s ease infinite;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  gap: 10px;
  margin: auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%; 
  }
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.container {
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  background: transparent;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
  
}
.top .location {
  font-size: 1.2rem;
}

.temp h1 {
  font-size: 3rem;
  margin: 10px 0;
}

.description p {
  font-style: italic;
  font-size: 1rem;
  margin-top: 5px; 
}

.bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 0.9rem;
}

.search input {
  width: 100%;
  /* padding: 10px; */
  border-radius: 8px;
  color : white;
  border: 1px solid white;
  background: transparent ;
  outline: none;
  text-align: center;
  font-size: 1rem;
}

.search input::placeholder {
  color: white;
}


.error {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
} 

h4{
  font-size: 10px;
}